<%= turbo_frame_tag :container do %>
  <h2><%= t('.new_classroom') %></h2>

  <%= render 'shared/errors', object: @classroom %>
  <%= render 'shared/notice_alert' %>

  <%= render 'form', classroom: @classroom %>
<% end %>
