<h1>Atrelar Usuário à Turma</h1>

<%= form_with(model: @customerclass, url: customerclasses_path) do |form| %>
  <div class="field">
    <%= form.label :customer_id %>
    <%= form.collection_select :customer_id, @customers, :id, :first_name %>
  </div>

  <div class="field">
    <%= form.label :class_id %>
    <%= form.collection_select :class_id, @classrooms, :id, :name %>
  </div>

  <div class="actions">
    <%= form.submit 'Atrelar' %>
  </div>
<% end %>
