<div class="flex justify-center items-center">
  <div class="bg-white p-6 rounded shadow-md mb-4">
    <%= form_with model: administrator do |form| %>
      <div><%= form.label :name, Product.human_attribute_name(:name) %></div>
      <div class="mb-4"><%= form.text_field :name %></div>

      <%= form.fields_for :user do |user_form| %>
        <div><%= user_form.label :email, User.human_attribute_name(:email) %></div>
        <div class="mb-4"><%= user_form.email_field :email %></div>

        <div><%= user_form.label :password, User.human_attribute_name(:password) %></div>
        <div class="mb-4"><%= user_form.password_field :password %></div>
      <% end %>
      

      <div class="mb-4">
        <%= form.submit t('submit'), class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
      </div>
    <%end%>
    <div>
      <% if action_name == 'new' %>
        <%= link_to t('back'), administrators_path, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
      <% elsif action_name == 'edit' %>
        <%= link_to t('back'), administrator_path(administrator), class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
      <%end%>
    </div>
  </div>
</div>
