<%= turbo_frame_tag :container do %>
  <h2><%= t('.edit_administrator') %></h2>

  <%= render 'shared/errors', object: @administrator %>
  <%= render 'shared/notice_alert' %>

  <%= render 'form', administrator: @administrator %>
<% end %>
