<div>
    <%= form_with model: @tax, data: {turbo: false} do |t| %>
        <div>
            <%= t.label :name, 'Name' %>
        </div>
        <div>
            <%= t.text_field :name %>
        </div>
        <div>
            <%= t.label :value, 'Value' %>
        <div>
            <%= t.text_field :value %>
        </div>
        <div>
            <%= link_to '#', class: "text-sm bg-teal-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded" do %>
              <%= t.submit 'Submit' %>
            <% end %>
            <% if action_name == "new" %>
              <%= link_to 'Back', taxes_path, class: "text-sm bg-teal-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded" %>
            <% elsif action_name == "edit" %>
              <%= link_to 'Back', tax_path(tax), class: "text-sm bg-teal-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded" %>
            <%end%>
        </div>
    <%end%>
</div>
