<tr class="border-b dark:border-neutral-500">
  <td class="whitespace-nowrap  px-6 py-4 font-medium"><%= tax.name %></td>
  <td class="whitespace-nowrap  px-6 py-4 font-medium"><%= tax.value %></td>
  <td class="whitespace-nowrap  px-6 py-4 font-medium">
  <% if action_name == 'index' %>
    <%= link_to t('show'), tax_path(tax), class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded' %>
  <% elsif action_name == 'show' %>
    <%= link_to t('edit'), edit_tax_path(@tax), class:"bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded" %>
    <%= link_to t('destroy'), tax_path(@tax), class:"bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded", data: { 'turbo-method': :delete } %>
    <%= link_to t('back'), taxes_path, class:"bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded" %>
  <% end %>
  </td>
</tr>
