<%= turbo_frame_tag :container do %>
  <div class="container mx-auto text-center mb-4">
    <h2 class="text-xl font-bold mt-8"><%= t('.edit_tax') %></h2>
  </div>
  <%= render 'shared/errors', object: @tax %>
  <%= render 'shared/notice_alert' %>

  <%= render 'form', tax: @tax %>
<% end %>
