<%= turbo_frame_tag :container do %>
  <div>
    <%= t('.edit_tax')%>:
    <%= render 'shared/errors', object: @tax %>
    <%= render 'shared/notice_alert' %>

    <%= render 'form', tax: @tax %>

  </div>
<% end %>
