<div>
<h2> Tax ID:<%= @tax.id %></h2>
    <div>
        <h2> Tax Name: <span><%= @tax.name %></span> </h2>
        <h2> Tax Value:<span><%= @tax.value %></span> </h2>
        <span class="bg-teal-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded">
        <%= link_to 'Edit', edit_tax_path(@tax)%> </span>
        <span class="bg-teal-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded">
        <%= link_to 'Delete', tax_path(@tax), data: { 'turbo-method': :delete} %></span>
        <span class="bg-teal-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded">
        <%= link_to 'Back', taxes_path %></span>
    </div>
</div>