<div class="mx-auto md:w-2/3 w-full p-20">
  <%= form_with model: @transfer, data: {turbo: false} do |form| %>
    <div class="mb-6">
      <%= form.label :receiver_cpf, Account.model_name.human, class: "text-gray-800 font-semibold" %>
      <%= form.text_field :receiver_cpf, class: "mt-2 px-4 py-2 w-full border border-gray-300 rounded-lg focus:outline-none focus:border-blue-500", value: (@receiver_cpf.present? ? @receiver_cpf : '') %>
    </div>

    <div class="mb-6 flex flex-col">
      <%= form.label :save_contact, t('.save_contact'), class: "text-gray-800 font-semibold" %>
      <%= form.check_box :save_contact, class: "mt-2 px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:border-blue-500 w-1" %>
    </div>

    <div class="mb-6">
      <%= form.label :amount, class: "text-gray-800 font-semibold" %>
      <%= form.number_field :amount, class: "mt-2 px-4 py-2 w-full border border-gray-300 rounded-lg focus:outline-none focus:border-blue-500" %>
    </div>

    <%= form.submit t('.submit_transfer'), class: "bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 mb-4 rounded-lg focus:outline-none focus:shadow-outline" %>
  <% end %>
  <%= link_to t('back'), transfers_path, class: 'bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded-lg focus:outline-none focus:shadow-outline' %>
</div>

