<%= turbo_frame_tag :container do %>
  <div> 
    <%= t('.new_transfer')%>:
    <%= render 'shared/errors', object: @transfer %>
    <%= render 'shared/notice_alert' %>

    <%= render 'form', transfer: @transfer %>
  </div>
<% end %>
