<div class="container mx-auto text-center">
  <h2 class="text-4xl font-bold mt-8">Transferências</h2>
      <span class="inline-block">
        <%= link_to t('back'), root_path, class: "bg-teal-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
      </span>
    </div>
  <% end %>
  
  <div class="mt-8">
    <% @transfers.each do |transfer| %>
      <div class="bg-gray-100 rounded-lg p-6 mb-6">
        <p class="text-lg font-semibold"><%= t('.transfer_value')  %>:</p>
        <p class="text-xl font-bold text-blue-600"><%= number_to_currency(transfer.amount) %></p>

        <div class="mt-4">
          <div class="flex justify-between">
            <p class="text-lg font-semibold"><%= t('.recipient_cpf')  %></p>
            <p><%= transfer.receiver.customer.cpf %></p>
          </div>

          <div class="flex justify-between mt-2">
            <p class="text-lg font-semibold"><%= t('.sender_cpf')  %>:</p>
            <p><%= transfer.sender.customer.cpf %></p>
          </div>

          <div class="flex justify-between mt-2">
            <p class="text-lg font-semibold"><%= t('.transfer_date') %></p>
            <p><%= transfer.trade_date %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>