<div>
  <%= form_with model: @product, data: {turbo: false} do |p| %>
    <div>
      <%= p.label :name, 'Name' %>
    </div>
    <div>
      <%= p.text_field :name %>
    </div>
    <div>
      <%= p.label :start_date, 'Data de Início' %>
    <div>
      <%= p.date_field :start_date %>
    </div>
    <div>
      <%= p.label :final_date, 'Data de fim' %>
    <div>
      <%= p.date_field :final_date %>
    </div>
    <div>
      <%= p.label :minimum_amount, 'Valor minimo' %>
    <div>
      <%= p.text_field :minimum_amount %>
    </div>
    <div>
      <%= p.label :tax_id, 'Taxa' %>
    <div>
      <%= p.select :tax_id, options_for_select(Tax.all.map{|s|[s.name, s.id]}) %>
    </div>
    <div>
      <%= link_to '#', class: "text-sm bg-teal-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded" do %>
        <%= p.submit 'Submit' %>
      <% end %>
      <% if action_name == "new" %>
        <%= link_to 'Back', products_path, class: "text-sm bg-teal-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded" %>
      <% elsif action_name == "edit" %>
        <%= link_to 'Back', products_path(product), class: "text-sm bg-teal-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded" %>
      <%end%>
    </div>
  <%end%>
</div>
