<%= turbo_frame_tag :container do %>
  <%= render 'shared/notice_alert' %>
  <div class="container mx-auto align-center">
    <div><%= t('.all_products') %>:</div>
    <span class="float-right bg-teal-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded">
      <%= link_to t('.new_product'), new_product_path %>
    </span>
    <div>
      <% @products.each do |product| %>
        <div>
          <%= product.id %>
          <%= product.name %>
          <p>
            <%= link_to t('show'), product_path(product), class: "bg-teal-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded" %>
          </p>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
