<div>
<h2><%= t('.product_id') %>:<%= @product.id %></h2>
    <div>
        <h2> <%= t('.product_name') %>: <%= @product.name %></h2>
        <h2> <%= t('.product_start_date') %>: <%= @product.start_date %></h2>
        <h2> <%= t('.product_final_date') %>: <%= @product.final_date %></h2>
        <h2> <%= t('.product_minimum_amount') %>: <%= @product.minimum_amount %></h2>
        <h2> <%= t('.product_tax_id') %>: <%= @product.tax_id %></h2>
        <%= link_to t('edit'), edit_product_path(@product), class:"bg-teal-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded" %>
        <%= link_to t('destroy'), product_path(@product), class:"bg-teal-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded", data: { 'turbo-method': :delete} %>
        <%= link_to t('back'), products_path, class:"bg-teal-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded" %>
    </div>
</div>