<div class="max-w-lg mx-auto bg-white shadow-md rounded-lg overflow-hidden">
  <div class="p-4">
    <h1 class="text-2xl font-bold mb-4">Detalhes da Classe de Cliente</h1>
    <p><strong>#:</strong> <%= @customer_class.id %></p>
    <p><strong><%= t('.name') %>:</strong> <%= @customer_class.customer.first_name %></p>
    <p><strong><%= t('.classroom') %>:</strong> <%= @customer_class.classroom.name %></p>
  </div>
  <div class="text-center px-4 py-2 bg-gray-100">
    <%= link_to t('back'), customer_classes_path, class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded' %>
    <%= link_to t('edit'), edit_customer_class_path(@customer_class), class: 'bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded ml-2' %>
    <%= link_to t('destroy'), @customer_class, data: { 'turbo-method': :delete, 'turbo-confirm': 'confirmar ação de apagar?' }, class: 'bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded ml-2' %>
  </div>
</div>
