<!DOCTYPE html>
<html>
  <head>
    <title>RaroBank</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="custom-background">
    <%= render 'shared/navbar' %>
    <main class="container mx-auto mt-10 px-10 flex">
      <div class='container'>
        <%= turbo_frame_tag :container do %>
          <%= yield %>
        <% end %>
      </div>
    </main>
  </body>
</html>
