<div class="bg-gray-200 p-4 rounded-lg shadow-lg">
  <h2 class="text-2xl font-semibold mb-4">Conta N°: <%= account.id %></h2>
  <div class="mb-4">
    <p class="text-lg"><strong>Customer id:</strong> <%= account.customer_id %></p>
    <p class="text-lg"><strong>First Name:</strong> <%= account.customer.first_name %></p>
    <p class="text-lg"><strong>Saldo:</strong> <%= account.amount %></p>
  </div>
  <div class="flex justify-between">
    <span class="text-lg">
      <%= link_to t('show'), account_path(account), class: "text-blue-500 hover:underline" %>
    </span>
    <% if user_signed_in? && ['Root', 'Administrator'].include?(current_user.userable_type) %>
      <span class="text-lg">
        <%= link_to t('edit'), edit_account_path(account), class: "text-blue-500 hover:underline ml-4" %>
      </span>
    <% end %>
  </div>
</div>
