<%= turbo_frame_tag :container do %>
  <div>
    <h2><%= t('.edit_account') %></h2>
  </div>
  <div>
    <%= render 'shared/errors', object: @account %>
    <%= render 'shared/notice_alert' %>

    <%= render 'form', account: @account %>
  </div>
<% end %>
