<%= turbo_frame_tag :container do %>
  <%= render 'shared/notice_alert' %>

  <div class="container mx-auto text-center">
    <h2 class="text-xl font-bold mt-8"><%= t('.account_detail') %></h2>
  </div>

  <div class="overflow-x-hidden w-full mb-10">
    <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
      <div class="overflow-hidden">
        <table class="min-w-full text-center text-sm font-light">
          <thead
            class="border-b bg-blue-500 font-medium text-white dark:border-blue-500 dark:bg-blue-500">
            <tr>
              <th scope="col" class=" px-0 py-4"><%= Customer.human_attribute_name(:first_name) %></th>
              <th scope="col" class=" px-0 py-4"><%= Customer.human_attribute_name(:cpf) %></th>
              <th scope="col" class=" px-0 py-4"><%= Account.human_attribute_name(:amount) %></th>
            </tr>
          </thead>
          <tbody>
            <%= render @account %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% end %>
